.printedView {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -400px;
    width: 800px;
    height: 600px;
    @page {size: landscape}
}

.printedPage {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -400px;
    width: 800px;
    height: 600px;
    @page {size: landscape}
}

.paper-info {
    position: fixed;
    width: 220px;
    height: 200px;
    right: 140px;
    bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #8c8c8c;
    box-shadow: 5px 5px #8c8c8c;
    background-color: #F0F8FF;
    color: black;
}