.see-file-button {
    color: rgba(255, 71, 71, 0.993);
    text-decoration: none;
    font-weight: bold;
}

.see-file-button:hover {
    transition: 0.2s ease-in;
    color: white;
    text-decoration: underline #F40057;
}